.wd-icon-and-image img {
  width: 2em;
  height: 2em;
}

.wd-icon-and-image {
  align-items: center;
  background-color: black;
}

.wd-kanbas-navigation-list .list-group-item {
    background-color: black;
    color: white; 
    border: none;
    padding: 0px;
  }

.wd-kanbas-navigation-list .wd-icon {
    color:#D41B2C;
    font-size: 2em;
}

.wd-kanbas-navigation-list .wd-icon.wd-account {
    color:lightslategray;
}

.wd-kanbas-navigation-list .list-group-item:first-child {
    border: none;
    border-radius: 0px;
  }
  
.wd-kanbas-navigation-list .list-group-item.active {
    background-color: white;
    color: #D41B2C; 
  }
  
  .wd-fg-white {
    color: white;
  }

  .wd-kanbas-navigation-list {
    height: 100%;
  }